/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* Common elements */

body {
	background: #eee;
	color: #404040;
	font-family: "Lucida Grande", "Segoe UI", verdana, helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	color: #202020;
}

h1, h2 {
	font-size: 1.7em;
    line-height: 1.3;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
    font-weight: bold;
}

h4 {
    margin: 30px 0 10px;
}

h5 {
	color: #666;
}

h6 {
	color: #777777;
	margin: 0 0 10px;
}

a,
a:link,
a:visited {
    color: #CC0000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 > a,
h1 > a:link,
h1 > a:visited,
h4 > a,
h4 > a:link,
h4 > a:visited {
	color: #202020;
}

label {
	display: inline-block;
	font-size: 0.9em;
    vertical-align: top;
}

input[type=checkbox] {
	margin-left: 0;
	margin-right: 1em;
}

input:not([type=submit]):not([type=checkbox]):not([type=range]),
textarea {
	background-color: #fff;
	border: 1px solid #ccf;
	border-radius: 3px;
	box-shadow: none;
	font-size: 1.2em;
	padding: 10px;
	font-family: "Georgia", serif;
}

input:not([type=submit]):not([type=checkbox]):not([type=range]):hover,
input:not([type=submit]):not([type=checkbox]):not([type=range]):focus,
textarea:focus {
	box-shadow: 0 0 3px rgba(0, 0, 25, 0.1) inset;
}

button,
input[type=submit] {
	background-color: #F5F5F5;
	background-image: linear-gradient(#F5F5F5, #d5d5d5);
    border: 1px solid #777;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 25, 0.1);
	color: #404040;
	font-weight: bold;
    min-height: 20px;
    min-width: 90px;
    padding: 8px 15px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	cursor: pointer;
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
	transition: opacity 0.5s ease-in-out;
}

button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
	background-color: #ddd;
	background-image: linear-gradient(#e9e9e9, #c5c5c5);
}

button:active,
input[type=submit]:active {
	background-color: #aae;
	background-image: linear-gradient(#dadada, #aab);
}

button[disabled=""],
input[type=submit][disabled=""] {
	opacity: 0.6;
}

ol {
	line-height: 2em;
    list-style: upper-roman outside none;
    margin: 1.5em 0 1.5em 1.6em;
}

td, th {
	width: 35px;
	height: 35px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 0.7em;
	border: 1px solid #ddd;
}
td.cell-filled {
	background-color: rgb(190, 230, 255);
}

/* Alt radio buttons, via:
	http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/#pureCSS
*/

input[type=radio] {
	width     : 2em;
	margin    : 0;
	padding   : 0;
	font-size : 1em;
	opacity   : 0;
}

input[type=radio] + label {
	display      : inline-block;
	margin-left: -1.7em;
	margin-right: 0.5em;
	line-height  : 2em;
	color: #888;
}

input[type=radio] + label > span {
	background: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245)) repeat scroll 0 0 rgb(245, 245, 245);
	border: 0.1em solid rgb(150, 150, 150);
	border-radius: 1em;
	display: inline-block;
	height: 1.8em;
	margin: 0 1em 0 0;
	vertical-align: middle;
	width: 1.8em;
}

input[type=radio]:checked + label > span {
	background: linear-gradient(rgb(100, 180, 240), rgb(50, 150, 220)) repeat scroll 0 0 rgb(50, 150, 220);
	border: 0.1em solid rgb(100, 120, 150);
}

input[type=radio]:checked + label > span > span {
	background: #fff;
	border: none;
	border-radius: 1em;
	display: block;
	height: 0.7em;
	margin: 0.55em;
	width: 0.7em;
}

legend {
	padding: 0 0.5em;
	font-style: italic;
	color: #000;
}

legend::before {
	font-style: normal;
	align-items: center;
	background-color: #4488dd;
	border-radius: 2em;
	color: #fff;
	content: attr(data-step);
	display: inline-flex;
	height: 1.5em;
	justify-content: center;
	margin-right: 0.5em;
	text-align: center;
	width: 1.5em;
}

/* Element styles */

.help-button {
	background-color: rgba(32, 32, 32, 0.1);
    font-size: 0.9em;
    padding: 4px 7px;
    border: 1px solid #666;
    border-top: none;
    border-radius: 0 0 2px 2px;
    min-width: 3em;
    position: fixed;
    right: 5px;
    text-align: center;
    top: 0;
    z-index: 2;
}
.help-button:hover {
	background-color: rgba(32, 32, 32, 0.2); 
}

.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-row {
	flex-direction: row;
}

.flex-align-start {
	align-items: flex-start;
}

.flex-align-start:first-of-type {
	margin-right: 3em;
}

.flex-align-center {
	align-items: stretch;
	justify-content: center;
}

.flex-stretch-self {
	align-self: stretch;
}

.settings-area {
	background: #fff;
}

.settings-column {
	align-items: stretch;
	max-width: 45em;
	padding: 5em 2em 1em;
}

.settings-column > form {
	align-items: stretch;
}

.settings-column h2,
.settings-column p {
	margin-bottom: 1.5em;
}

form > fieldset {
	border: 1px solid #ccc;
	border-radius: 0.3em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 1.5em;
}

fieldset p {
	font-size: 0.8em;
	margin: 1.5em 0;
}
fieldset p:first-child,
fieldset legend + p { /* sometimes legend is first child, before p */
	margin-top: 0;
}
fieldset p:last-child {
	margin-bottom: 0;
}

.settings-area label {
	margin-bottom: 0.5em;
	margin-top: 1em;
}
.settings-area label:first-of-type {
	margin-top: 0;
}

input[type="checkbox"] + label {
	margin-bottom: 0;
	margin-top: 0;
}

.checkbox-row {
	margin: 0 0 1em;
}
.checkbox-row:first-of-type {
	margin-top: 1em;
}
.checkbox-row:last-of-type {
	margin-bottom: 0;
}
.checkbox-row:first-child {
	margin-top: 0;
}
.checkbox-row:last-child {
	margin-bottom: 0;
}

.checkbox-row + table {
	margin-top: 1em;
}

.grid-overview-wrapper {
	margin-top: 2em;
}

ul#grid_form > li {
	border-top: 1px solid #fff;
	padding: 0.8em 1em;
}

.element-label-header {
	display: flex;
	justify-content: center;
	margin: 1em 0 0.3em;
	padding-left: 4em;
}

.element-label-header > li {
	font-size: 0.9em;
	font-weight: bold;
	margin: 1em -2.8em 2.6em;
	overflow: hidden;
	transform: rotate(-45deg);
	width: 8em;
}

.grid-row-label:first-of-type {
	text-align: right;
	margin-right: 2em;
}
.grid-row-label:last-of-type {
	margin-left: 2em;
}

input[type=text].grid-row-label {
	box-shadow: unset;
	background: unset;
}

.rating-item {
	background: #f4f4f4;
	margin: 0.5em 0;
	padding: 1em;
}
.rating-item.selected {
	background: rgb(220, 240, 255);
}

.rating-item > h3 {
	margin-bottom: 0.5em;
}

.rating-item > fieldset {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0.3em;
    padding: 0.5em;
}

.qlabel {
	color: #000;
	font-size: 1.1em;
	margin: 0 1em;
}

#output {
	align-self: stretch;
	min-height: 10em;
}

#label_grid_elements::after {
	content: attr(data-txt);
	color: #f00;
	margin-left: 1em;
}

.grid-row::before {
	color: #ccc;
	content: attr(data-number);
	font-family: "Menlo","Courier New",monospace;
	font-size: 0.8em;
	margin: 0 0.5em 0 -1.7em;
	min-width: 1.5em;
	text-align: right;
}
